body{
    font-family: Arial, Helvetica, sans-serif;
}

.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:30px; height:30px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.grid td.clicked {
    background-color:yellow;
    font-weight:bold; color:red;
}

.grid_action { margin:1em auto; border-collapse:collapse }
.grid_action td {
    cursor:pointer;
    width:30px; height:30px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.grid_action td.clicked {
    background-color:yellow;
    font-weight:bold; color:red;
}

.green{ background-color: #008000; }

.brown{ background-color: #8B4513; }

.water{ background-color: #40a4df; }

.nonarea{ background-color: #acacac; }

.center{
    width: 1080px;
    margin-right: auto;
    margin-left: auto;
}

td.mc{
    background-image: url("../img/mc.png");
}

td.ex{
    background-image: url("../img/enemy_3.png");
}

td.eye{
    background-image: url("../img/enemy_4.png");
}

td.key{
    background-image: url("../img/enemy_5.png");
}

td.grunt{
    background-image: url("../img/enemy_2.png");
}

td.shield_1{
    background-image: url("../img/shield_1.png");
}

td.shield_2{
    background-image: url("../img/shield_2.png");
}

td.stick{
    background-image: url("../img/sword_6.png");
}

td.normal{
    background-image: url("../img/sword_5.png");    
}

td.raj{
    background-image: url("../img/sword_3.png");
}

td.lance{
    background-image: url("../img/sword_4.png");
}

td.john{
    background-image: url("../img/sword_2.png");
}

td.light{
    background-image: url("../img/light_potion.png");
}

td.health{
    background-image: url("../img/health_potion.png");
}

.map_action{
    margin-top: 5px;
}

.grid_action td.active{ border: 5px solid #000 !important; }